
  @charset "utf-8";

  /* =Color
  ----------------------------------------------- */

  :root {

rgb(46, )

    --tungsten: rgb(40, 41, 43);
  }

  body {
    background-color: white;
    background-color: rgba(32, 85, 135, 0.01); /* --ocean */
    color

    : var(--tungsten);
  }

  a {
    color

    : rgb(32, 85, 135);
  }

  main h1,
  main h2 {
    color

    : rgb(46, 127, 182);
  }

  dt {
    color

    : rgb(46, 127, 182);
  }

  body > nav,
  body > footer {
    background-color

    : rgb(46, 127, 182);
    color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
  }

  body > nav button {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* =Type
  ----------------------------------------------- */

  body {
    font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 400px) and (min-height: 200px) {
    body {
      font-size: 112.5%;
    }
  }

  @media (min-width: 500px) and (min-height: 250px) {
    body {
      font-size: 125%;
    }
  }

  @media (min-width: 1000px) and (min-height: 50px) {
    body {
      font-size: 137.5%;
    }
  }

  @media (min-width: 1500px) and (min-height: 750px) {
    body {
      font-size: 150%;
    }
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
    margin-top

    : 0.75em;
    margin-bottom

    : 0.75em;

    /* Limit line lengths, for readability. */
    max-width: 40em;
    /*
    margin-left: auto;
    margin-right: auto;
    */
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top

    : 1.5em;
    font-weight: inherit;
  }

  h1,
  body > header h2,
  body > footer h2 {
    text-transform: uppercase;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
  }

  h1 strong,
  body > header h2 strong,
  body > footer h2 strong {
    font-weight: 400;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.25;
    margin-top

    : 0.6em;
    margin-bottom

    : 0.3em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.125;
    margin-top

    : 1.5em;
    margin-bottom

    : 0.375em;
  }

  h3 {
    font-size: 1.5em;
    margin-top

    : 1em;
    margin-bottom

    : 0.5em;
  }

  h3 {
    font-size: 1.25em;
    margin-top

    : 1.2em;
    margin-bottom

    : 0.6em;
  }

  h3 + h4 {
    margin-top: 0;
  }

  h4, h5 {
    font-size: inherit;
    font-weight: bold;
  }

  h6, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
  }

  /* =Elements
  ----------------------------------------------- */

  img {
    max-width: 100%;
    height: auto;
  }

  /* =Calendar
  ----------------------------------------------- */

  dl:after {
    content: "";
    display: table;
    clear: both;
  }

  dl dt {
    clear: both;
    width: 33.333%;
    float: left;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    box-sizing: border-box;
  }

  dl dt + dd {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
  }

  dl dd {
    padding-left: 1.5em;
    padding-bottom: 0.375em;
    margin-left: 33.333%;
    width: 66.666%;
    box-sizing: border-box;
    color: black;
  }

  dl dd em {
    opacity: 0.5;
  }

  dl dd span {
    display: inline-block;
    min-width: 3em;
  }

  dl dd span:first-child {
    text-align: right;
  }

  dl.calendar dt {
    width: 25%;
  }

  dl.calendar dd {
    margin-left: 25%;
    width: 75%;
  }

  /* =List
  ----------------------------------------------- */

  ul,
  ul > li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  ul > li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.375em 1.5em;
    box-sizing: border-box;
  }

  ul > li ul {
    margin-top: 0.375em;
    margin-bottom: -0.375em;
    font-style: italic;
  }

  /* =Announcements
  ----------------------------------------------- */

  .announcements {
    margin-left: -1.5em;
    margin-right: -1.5em;
  }

  @media (min-width: 60em) { /* --big-screen-width */
    .announcements {
      margin-left: -3em;
      margin-right: -3em;
    }
  }

  .announcements ul,
  .announcements li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .announcements ul {
    max-width: none;
    margin: 0;
  }

  .announcements header,
  .announcements li {
    padding: 1.5em;
  }

  @media (min-width: 60em) { /* --big-screen-width */
    .announcements header,
    .announcements li {
      padding: 3em;
    }
  }

  .announcements header {
    padding-bottom: 0;
  }

  .announcements h2 {
    margin: 0;
  }

  .announcements li {
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0;
  }

  .announcements li:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.025);
  }

  .announcements li:nth-child(3n) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .announcements li h3 {
    margin-top: 0;
  }

  /* =Layout
  ----------------------------------------------- */

  body > header,
  body > footer,
  body > nav,
  body > main {
    padding

    : 1.5em;
  }

  body > header {
    padding-top

    : 2.25em;
    padding-bottom

    : 2.25em;
    box-sizing: border-box;
  }

  body > main {
    padding-bottom

    : 3em; /* Twice the usual padding */
  }

  @media (min-width: 60em) { /* --big-screen-width */
    body > header,
    body > footer,
    body > nav,
    body > main {
      padding

    : 3em;
    }
    body > main {
      padding-bottom

    : 6em; /* Twice the usual padding */
    }
  }

  @media (min-aspect-ratio: 1/1) { /* --header-over-image-width */
    body.has-image > header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  main:not(.has-wide-content) {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  main h1:first-child {
    margin-top: 0;
  }

  /* =Image
  ----------------------------------------------- */

  .image {
    position: relative;
    z-index: -1;
  }

  @media (min-aspect-ratio: 1/1) { /* --header-over-image-width */
    .image::before {
      content: "";
      background: rgba(0, 0, 0, 0.2);
      background: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
      background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
      background: -webkit-radial-gradient(top left, circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    body.has-image > header {
      color: white;
    }
  }

  .image::after {
      content: "";
      background: rgba(0, 0, 0, 0.2);
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
      background: linear-gradient(to top, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

  .image img {
    display: block;
    width: 100%;
    height: auto;
  }

  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    @media (min-aspect-ratio: 1/1) {
      .image img {
        width: 100%;
        height: 75vh;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
      }
      .image-focus-top img {
        -o-object-position: top;
           object-position: top;
      }
      .image-focus-bottom img {
        -o-object-position: bottom;
           object-position: bottom;
      }
    }
  }

  @media (min-width: 160em) { /* --big-screen-width */
    .image + main h1 {
      position: absolute;
      /*
      top: 90vh;
      */
      left: 0;
      padding-left

    : 1.5em;
      padding-right

    : 0.75em;
      margin-top: -1.5em;
      margin-bottom: 0;
      color: white;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      /*
      background: black;
      background: rgba(0, 0, 0, 0.5);
      max-width: 15em;
      */
    }
    /*
    img.primary + main h1 + p,
    img.primary + main h1 + ul,
    img.primary + main h1 + dl {
      margin-top: calc(var(--line-height) * 2);
    }
    */
  }

  /* =Header
  ----------------------------------------------- */

  body > header a,
  body > nav a,
  body > footer a {
    color: inherit;
    -webkit-transition

    : opacity 0.2s, color 0.2s, background-color 0.2s;
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  }

  body > header a:hover,
  body > header a:active,
  body > header a:focus,
  body > nav a:hover,
  body > nav a:active,
  body > nav a:focus,
  body > footer a:hover,
  body > footer a:active,
  body > footer a:focus {
  }

  body > header h2 {
    font-size: inherit;
    font-weight: 400;
    margin-right: 1.5em;
    margin: 0;
  }

  body > header h2 a {
    color: inherit;
    text-decoration: inherit;
  }

  body > header h2 img {
    display: block;
    height

    : 4.5em;
    width: auto;
    margin-bottom

    : 0.75em;
  }

  body > header h2 + p {
    margin-top: 0.25em;
    line-height: 1;
    margin-bottom: 0;
  }

  @media (min-width: 135em) {
    body > header h2 img {
      margin-bottom: 0.75em;
    }
    body > header h2 + p {
      margin: 0;
      line-height: inherit;
      margin-bottom: -1em;
    }
    body > header {
      padding-left

    : 6.75em;
    }
    body > header h2 img {
      margin-top: 0;
      top

    : 1.3125em;
      left

    : 0.75em;
      position: absolute;
    }
  }

  @media (min-width: 160em) {
    body > header h2,
    body > header h2 + p {
      display: inline-block;
    }
    body > header h2 {
      margin-right: 1.5em;
    }
    /*
    body > header h2 img {
      top: calc(var(--line-height) * 0.5);
    }
    */
  }

  body > header h2 + p {
    font-style: italic;
    opacity: 0.75;
  }

  /*
  body > header {
    padding-right: calc(var(--line-height) * 4);
  }
  */

  body > header .nav-link {
    margin: 0;
    position: absolute;
    top

    : 1.5em;
    right

    : 1.5em;
  }

  @media (min-width: 60em) {
    body > header .nav-link {
      top

    : 3em;
      right

    : 3em;
    }
  }

  body > nav form {
    text-align: center;
  }

  body > nav form p {
    max-width: none;
  }

  body > nav label span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

  input {
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    border-width: 0;
    border-radius: 0.25em;
    padding: 0.375em;
    width: 20em;
    max-width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transition

    : background-color 0.2s;
    transition: background-color 0.2s;
  }

  input:focus {
    background-color: white;
  }

  @media (max-width: 30em) {
    input,
    button {
      width: 100%;
    }
  }

  body > header .nav-link a,
  button {
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    background-color

    : rgba(0, 0, 0, 0.25);
    background-color

    : rgb(32, 85, 135);
    color: white;
    border-width: 0;
    padding: 0.375em 0.75em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition

    : background-color 0.2s;
    transition: background-color 0.2s;
    box-sizing: border-box;
    display: inline-block;
  }

  body > header .nav-link a:hover,
  body > header .nav-link a:active,
  body > header .nav-link a:focus,
  button:hover,
  button:active,
  button:focus {
    background-color: black;
  }

  body > header ul {
    margin-bottom: 0;
  }

  @media (min-width: 85em) {
    header ul {
      float: right;
      margin-top: 0;
    }
  }

  body > header ul,
  body > header li,
  body > nav ul,
  body > nav li,
  body > footer ul,
  body > footer li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    font-style: inherit;
  }

  body > header li,
  body > footer li {
    margin: 0 0.75em 0.75em;
    display: inline-block;
    vertical-align: top;
  }

  body > nav h2 {
    margin-top: 0;
    font-size: inherit;
    max-width: none;
    font-weight: inherit;
    text-transform: none;
    font-family: inherit;
    font-weight: bold;
  }

  body > nav > ul {
    text-align: left;
  }

  @media (min-width: 60em) { /* --big-screen-width */
    body > nav > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }

  body > nav li {
    text-align: left;
  }

  body > nav a {
    text-decoration: none;
  }

  body > nav a:hover,
  body > nav a:active,
  body > nav a:focus {
    text-decoration: underline;
  }

  /* =Footer
  ----------------------------------------------- */

  body > footer h2 {
    margin-top: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }

  @media (min-width: 70em) {
    body > footer .contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
  }

  body > footer .contact p {
    margin-top: 0;
  }

  body > footer .legal {
    margin-top: 3em;
    text-align: center;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  body > footer .legal h2 img {
    width: 5.25em;
    height: 5.25em;
  }

  body > footer .legal h2,
  body > footer .legal p {
    max-width: none;
  }

  body > nav form {
    margin-top

    : 3em;
  }

  @media (min-width: 60em) { /* --big-screen-width */
    body > nav form {
      margin-top

    : 6em;
    }
  }

  body > nav ul {
    max-width: none;
    text-align: center;
    margin-top: 0;
  }

  body > footer .nav ul {
    margin-top: 3em;
    max-width: none;
    text-align: center;
  }

  body > footer .nav:first-child ul {
    margin-top: 0;
    margin-bottom: 3em;
  }

  /* =Staff
  ----------------------------------------------- */

  .staff-list ul,
  .staff-list li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    font-style: inherit;
  }

  .staff-list ul {
    max-width: none;
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */

    /* Compensate for the item padding */
    margin-left

    : -1.5em;
    margin-right

    : -1.5em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .staff-list li {
    width: 100%;
    padding

    : 1.5em;
    text-align: center;
    box-sizing: border-box;
  }

  .staff-list li > a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }

  .staff-list li img {
    border-radius: 50%;

    /* Make images shrink or grow to fit the available space */
    width: 100%;
    height: auto;
  }

  .staff-list li h3,
  .staff-list li p {
    max-width: none;
  }

  .staff-list li h3 {
    margin: 0.75em 0 0 0;
    font-family: inherit;
    font-size: inherit;
  }

  .staff-list li p.title {
    font-style: italic;
    opacity: 0.6;
    margin: 0;
  }

  @media (min-width: 20em) {
    .staff-list li {
      width: 50%;
    }
  }

  @media (min-width: 40em) {
    .staff-list li {
      width: 33.333%;
    }
  }

  @media (min-width: 60em) {
    .staff-list li {
      width: 25%;
    }
  }

  /* =Home
  ----------------------------------------------- */

  .summaries {
    margin-top

    : 3em;
    margin-left

    : -1.5em;
    margin-right

    : -1.5em;
  }

  @media (min-width: 60em) { /* --big-screen-width */
    .summaries {
      margin-left

    : -3em;
      margin-right

    : -3em;
    }
  }

  .summaries div {
    padding: 3em 1.5em;
    background-color: rgb(222, 222, 222); /* @silver */
    background-color: rgba(0, 0, 0, 0.05);
  }

  @media (min-width: 140em) {
    .summaries {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .summaries div {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }

  @media (min-width: 180em) {
    .summaries {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    }
    .summaries div {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
    }
    .summaries .calendar-summary {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
    }
  }

  .summaries .facilities-summary {
    background-color: white;
  }

  .summaries .parents-summary {
    background-color: rgb(238, 238, 238); /* @seashell */
    background-color: rgba(0, 0, 0, 0.025);
  }

  .summaries div h2,
  .parents-summary h2,
  .news-summary-home h2 {
    margin: 0;
  }

  .news-summary-more {
    background: black;
    color: white;
    margin: 0 0 -3em 0;
    padding: 3em;
    max-width: none;
  }

  .news-summary-more a {
    color: inherit;
  }

  .news-summary {
    max-width: none;
  }

  .news-summary li {
    position: relative;
    background: black;
    color: white;
  }

  .news-summary li::before {
    content: "";
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .news-summary li span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5em;
  }

  @media (min-width: 60em) {
    .news-summary li span {
      padding: 3em;
    }
  }

  .news-summary li a::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition

    : background-color 0.2s;
    transition: background-color 0.2s;
  }

  .news-summary li a:hover::before,
  .news-summary li a:active::before,
  .news-summary li a:focus::before {
    background-color: transparent;
  }

  .news-summary li a {
    color: white;
  }

  .calendar-summary p {
    text-align: right;
    margin-bottom: 0;
  }

  .feature h2 {
    margin: 0;
    padding: 1.5em;
    font-family: inherit;
    text-transform: inherit;
    color: inherit;

    /* For the instagram username */
    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }

  .feature h2 svg {
    vertical-align: middle;
    margin-right: 0.375em;
  }

  .feature .more {
    margin: 0;
    padding: 0 3em 3em;
    max-width: none;
  }

  .feature {
    position: relative;
  }

  .feature h2 {
    position: absolute;
  }

  .feature h2 svg {
    width: 1.5em;
    height: 1.5em;
  }

  @media (max-width: 39.9em) {
    .feature h2 {
      font-size: inherit;
      line-height: inherit;
    }
  }

  .feature .more {
    position: absolute;
    top: 1.5em;
    right: 1.5em;

  }

  @media (min-width: 60em) {
    .summaries div,
    .parents-summary,
    .news-summary-home {
       padding-left: 3em;
       padding-right: 3em;
    }
  }

  .feature {
    position: relative;
    background: black;
    color: white;
  }

  .feature::before {
    content: "";
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .feature img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .feature img + p {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 1.5em;
  }

  @media (min-width: 60em) {
    .feature img + p {
      padding: 3em;
    }
  }

  .feature a {
    color: inherit;
    display: block;
  }

  .news-summary,
  .news-summary li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    font-style: inherit;
  }

  .feature {
    margin-left

    : -1.5em;
    margin-right

    : -1.5em;
  }

  .news-summary:last-child {
    margin-left

    : -1.5em;
    margin-right

    : -1.5em;
    margin-bottom

    : -3em;
    max-width: none;
  }

  @media (min-width: 60em) { /* --big-screen-width */
    .feature {
      margin-left

    : -3em;
      margin-right

    : -3em;
    }
    .news-summary:last-child {
      margin-left

    : -3em;
      margin-right

    : -3em;
      margin-bottom

    : -6em;
    }
  }

  .principals-message {
    background-color: rgb(222, 222, 222); /* @silver */
    background-color: rgb(238, 238, 238); /* @seashell */
  }

  .principals-message a {
    color: inherit;
  }

  .principals-message > div {
    padding: 3em 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
  }

  .news-summary {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: 60em) {
    .news-summary {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .news-summary li {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-preferred-size: 33.3333%;
          flex-basis: 33.3333%;
    }
  }

  .news-summary img {
    display: block;
  }

  .news-summary iframe {
    width: 100%;
    border-width: 0;
  }

  .introduction {
    background-color: rgb(237, 237, 239);
    position: relative;
    padding-bottom: 0;
  }

  .introduction > div {
    position: relative;
    background: rgb(237, 237, 239);
    background: -webkit-linear-gradient(top, rgba(237, 237, 239, 0.75), rgb(237, 237, 239) 25%, rgb(237, 237, 239));
    background: linear-gradient(to bottom, rgba(237, 237, 239, 0.75), rgb(237, 237, 239) 25%, rgb(237, 237, 239));
    z-index: 1;
    padding: 1.5em;
  }

  .introduction h1 {
    margin-bottom: 0;
  }

  .introduction h2 {
    margin-top: 0.65em;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    border-top: 2px solid;
    padding-top: 0.65em;
    font-size: 1.25em;
    line-height: 1.2;
  }

  .introduction > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .introduction div {
    margin-top: -9em;
  }

  @media (min-width: 45em) {
    .introduction > img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      -o-object-fit: cover;
         object-fit: cover;
    }
    .introduction {
      min-height: 100vh;
    }
    .introduction div {
      margin-top: 0;
      background: rgba(237, 237, 239, 0.75);
      position: relative;
      padding: 6em 3em 1.5em;
      margin-left: 33.333%;
      margin-right: 5%;
    }
    .introduction.reverse > img {
      left: auto;
      right: 0;
    }
    .introduction.reverse div {
      margin-right: 33.333%;
      margin-left: 5%;
    }
  }

/*# sourceMappingURL=shared.css.map */
