
  /* =Announcements
  ----------------------------------------------- */

  .announcements {
    margin-left: -1.5em;
    margin-right: -1.5em;
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .announcements {
      margin-left: -3em;
      margin-right: -3em;
    }
  }
  .announcements ul,
  .announcements li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .announcements ul {
    max-width: none;
    margin: 0;
  }
  .announcements header,
  .announcements li {
    padding: 1.5em;
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .announcements header,
    .announcements li {
      padding: 3em;
    }
  }
  .announcements header {
    padding-bottom: 0;
  }
  .announcements h2 {
    margin: 0;
  }

  .announcements li {
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0;
  }

  .announcements li:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.025);
  }

  .announcements li:nth-child(3n) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .announcements li h3 {
    margin-top: 0;
  }

