
  /* =Announcements
  ----------------------------------------------- */

  .announcements {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
    margin-left: -1.5em;
    margin-right: -1.5em;
    background: white;
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .announcements {
      margin-left: -3em;
      margin-right: -3em;
    }
  }
  .announcements > ul,
  .announcements > ul > li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .announcements > ul {
    max-width: none;
    margin: 0;
  }
  .announcements header {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .announcements > ul > li {
    padding: 1.5em;
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .announcements header {
    padding-left: 3em;
    padding-right: 3em;
    }
    .announcements > ul > li {
      padding: 3em;
    }
  }
  .announcements header {
    padding-bottom: 0;
  }
  .announcements h2 {
    margin: 0;
  }
  .announcements h2,
  .announcements h3,
  .announcements h4,
  .announcements p,
  .announcements li ul {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .announcements > ul > li:first-child {
    border-width: 0;
  }

  /*
  .announcements > ul > li:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.025);
  }

  .announcements > ul > li:nth-child(3n) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  */

  .announcements > ul > li h3 {
    margin-top: 0;
  }
  .announcements > ul > li p:last-child {
    margin-bottom: 0;
  }

