
  /* =Avatars
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  /* Letter */
  .avatar > span {
    display: inline-block;
    background-color: rgb(204, 204, 204); /* @aluminum */
    color: black;
    width       : 1.5em;
    line-height : 1.5em;
    border-radius: 100%;
    vertical-align: middle;
  }
  .avatar *[data-content]:after {
    display: block;
    content: attr(data-content);
    speak: none;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.75;
  }
  .avatar .name {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

  /* Colors */
  .avatar .cranberry {
    background-color: rgb(251, 59, 147); /* @cranberry */
  }
  .avatar .ocean {
    background-color: rgb(24, 57, 245); /* @ocean */
    color: white;
  }

  /* Sizes */
  .avatar .size15 {
    font-size: 0.625em; /* 2/3 x 15px / @font-size */
  }
  .avatar .size30 {
    font-size: 1.25em; /* 2/3 x 30px / @font-size */
  }
  .avatar .size100 {
    font-size: 4.1666666667em; /* 2/3 x 100px / @font-size */
  }

