
  /* =Calendar
  ----------------------------------------------- */
  /*
  dl:after {
    content: "";
    display: table;
    clear: both;
  }
  dl dt {
    clear: both;
    width: 33.333%;
    float: left;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    box-sizing: border-box;
  }
  dl dt + dd {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
  }
  dl dd {
    padding-left: 1.5em;
    padding-bottom: 0.375em;
    margin-left: 33.333%;
    width: 66.666%;
    box-sizing: border-box;
    color: black;
  }
  dl dd em {
    opacity: 0.5;
  }
  dl dd span {
    display: inline-block;
    min-width: 3em;
  }
  dl dd span:first-child {
    text-align: right;
  }

  dl.calendar dt {
    width: 25%;
  }
  dl.calendar dd {
    margin-left: 25%;
    width: 75%;
  }
  */

  dt {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
  }
  dd {
    padding-bottom: 0.375em;
  }
  @media (min-width: 40em) {
    dl:after {
      content: "";
      display: table;
      clear: both;
    }
    dt {
      clear: both;
      float: left;
      width: 14em;
      text-align: left;
      padding-bottom: 0.375em;
      box-sizing: border-box;
      white-space: nowrap;
    }
    dt + dd {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 0.375em;
    }
    dd {
      padding-left: 1.45em;
      margin-left: 14em;
    }
  }
