

  /* =Elements
  ----------------------------------------------- */
  img {
    max-width: 100%;
    height: auto;
  }


  /* =Icons
  ----------------------------------------------- */
  h3 img[src*="svg"] {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
  }
  @media (min-width: 60em) {
    h3 img[src*="svg"] {
      position: absolute;
      margin-left: -2em;
    }
  }
  li img[src*="svg"],
  dt img[src*="svg"] {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-left: -1.5em;
  }

