
  /* =List
  ----------------------------------------------- */
  ul,
  ul > li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  ul > li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.375em 1.5em;
    box-sizing: border-box;
  }
  ul > li ul {
    margin-top: 0.375em;
    margin-bottom: -0.375em;
    font-style: italic;
  }
