
  @charset "utf-8";

  @import url(color.css);
  @import url(type.css);
  @import url(elements.css);
  @import url(calendar.css);
  @import url(list.css);
  @import url(announcements.css);
  @import url(layout.css);
  @import url(staff.css);
  @import url(home.css);

  body > header {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
  }
  body > header .nav-link {
    font-weight: bold;
    z-index: 9999;
    top: -1.5em;
    right: -2em;
  }
  body > header .nav-link a {
    padding: 2em 3em;
    border-radius: 0;
    /*
    background-image: url(/images/texture-parallel.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    */
  }
  body > header .nav-link a:hover,
  body > header .nav-link a:active,
  body > header .nav-link a:focus {
    /*
    background-image: url(/images/texture-parallel-black.png);
    */
  }
  @media (min-width: 60em) { /* --big-screen-width */
    body > header .nav-link a {
      padding: 2.5em 3.5em;
    }
  }
  body > header .nav-link a {
    transform: skew(-25deg, 25deg);
  }
  body > header .nav-link a span {
    display: block;
    transform: skew(25deg, -25deg) translate(-0.75em, 0.125em);
  }

  /*
  body > main {
    padding-top: 2.25em;
  }
  body > main::before {
    content: "";
    border-top: 0.25em solid var(--dark-ocean);
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -2.25em;
    transform: translate(0, -100%);
  }
  @media (min-width: 60em) {
    body > main {
      padding-top: 3em;
    }
    body > main::before {
      margin-top: -3em;
    }
  }

  body > nav {
    padding-top: 2.25em;
  }
  body > nav::before {
    content: "";
    border-top: 0.25em solid var(--dark-ocean);
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -2.25em;
  }
  @media (min-width: 60em) {
    body > nav {
      padding-top: 3em;
    }
    body > nav::before {
      margin-top: -3em;
    }
  }
  */

  .image::before {
    content: "";
    position: absolute;
    height: 70vh;
    min-height: 40vmax;
    width: 70vh;
    min-width: 40vmax;
    top: 0;
    left: 0;
    background: var(--dark-ocean);
    /*
    border: 0.25em solid white;
    */
    transform: translate(-100%, 0) rotate(-45deg);
    box-shadow:
      0.25em 0.25em 0 var(--ocean),
      0.75em 0.75em 0 var(--dark-ocean),
      1.25em 1.25em 0 white,
      1.75em 1.75em 0 var(--dark-ocean),
      2.25em 2.25em 0 var(--ocean);
  }

