

  /* =Type
  ----------------------------------------------- */
  :root {
    --line-height: 1.5em;
  }

  body {
    font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 400px) and (min-height: 200px) {
    body {
      font-size: 112.5%;
    }
  }

  @media (min-width: 500px) and (min-height: 250px) {
    body {
      font-size: 125%;
    }
  }

  @media (min-width: 1000px) and (min-height: 50px) {
    body {
      font-size: 137.5%;
    }
  }

  @media (min-width: 1500px) and (min-height: 750px) {
    body {
      font-size: 150%;
    }
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
    margin-top   : calc(var(--line-height) / 2);
    margin-bottom: calc(var(--line-height) / 2);

    /* Limit line lengths, for readability. */
    max-width: 40em;
    /*
    margin-left: auto;
    margin-right: auto;
    */
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: var(--line-height);
    font-weight: inherit;
  }

  h1, body > header h2, body > footer h2 {
    text-transform: uppercase;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
  }

  h1 strong, , body > header h2 strong, body > footer h2 strong {
    font-weight: 400;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.25;
    margin-top   : calc(var(--line-height) / 2.5em);
    margin-bottom: calc(var(--line-height) / 2.5em / 2);
  }

  /*
  h2 {
    font-size: 1.25em;
    line-height: 1.25;
    margin-top   : calc(var(--line-height) / 1.25em * 1.5);
    margin-bottom: calc(var(--line-height) / 1.25em / 2);
  }

  h3 {
    font-weight: inherit;
    font-style: italic;
    font-size: inherit;
    line-height: inherit;
  }
  */

  h2 {
    font-size: 2em;
    line-height: 1.125;
    margin-top   : calc(var(--line-height) / 2em * 2);
    margin-bottom: calc(var(--line-height) / 2em / 2);
  }

  h3 {
    font-size: 1.5em;
    margin-top   : calc(var(--line-height) / 1.5em);
    margin-bottom: calc(var(--line-height) / 1.5em / 2);
  }

  h3 {
    font-size: 1.25em;
    margin-top   : calc(var(--line-height) / 1.25em);
    margin-bottom: calc(var(--line-height) / 1.25em / 2);
  }

  h3 + h4 {
    margin-top: 0;
  }

  h4, h5 {
    font-size: inherit;
    font-weight: bold;
  }

  h6, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
  }

