<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="robots" content="noindex" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!--
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Roboto+Slab:300,400" />
  -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i" rel="stylesheet" />
  <link rel="stylesheet" href="/css/shared.css" />
</head>
<body class="{% if page.image %} has-image{% endif %} {% if page.image_focus == 'top' %} image-focus-top {% elsif page.image_focus == 'bottom' %} image-focus-bottom {% endif %}">

  <header>
    <a href="/">
      <h2>
        <img src="/images/sierra.png" width="150" alt="" />
        Sierra High School
      </h2>
      <p>Home of the Mighty Spartans</p>
    </a>

    <p class="nav-link"><a href="#menu"><span>Menu</span></a></p>
  </header>

  {% if page.image %}
    <div class="image">

    {% if page.image_portrait %}
      <picture>
        <source srcset="{{ page.image_portrait }}" media="(max-aspect-ratio: 1/1)" />
        <img src="{{ page.image }}" alt="" />
      </picture>
    {% else %}
      <img src="{{ page.image }}" alt="" />
    {% endif %}

    </div>
  {% endif %}

  {% if page.images %}
  <script>
  (function() {
    var images = [
      {% for image in page.images %}
        '{{ image }}'{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];
    var reverseImages = [
      {% for reverse_boolean in page.images_reverse %}
        '{{ reverse_boolean }}'{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];
    var min = 0;
    var max = images.length - 1;
    var random = Math.floor(Math.random() * (max - min + 1) + min);
    var image = document.querySelector('.image img');
    image.src = images[random];
    if (reverseImages[random] == 'true') {
      document.body.className += ' image-reverse';
    }
  })();
  </script>
  {% endif %}

  <main{% if page.has_wide_content %} class="has-wide-content"{% endif %}>
    {{ content }}
  </main>

  <nav id="menu">

    <h1><a href="/"><img src="/images/sierra-high-school.png" alt="Sierra High School" /></a></h1>

    <ul>
      <li>
        <h2><a href="/academics">Academics</a></h2>
        <ul>
          <li><a href="/academics/#advanced-placement--honors-courses">Advanced Placement</a></li>
          <li><a href="/academics/#advanced-placement--honors-courses">Honors Courses</a></li>
          <li><a href="/academics/">Pathway Programs</a></li>
          <li><a href="/academics/">College-Career Preparatory Courses</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/life">Student Life</a></h2>
        <ul>
          <li><a href="/life">Leadership</a></li>
          <li><a href="/life">Yearbook</a></li>
          <li><a href="/life">Sports</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/wellness">Support &amp; Wellness</a></h2>
        <ul>
          <li><a href="/wellness/#intervention">Intervention</a></li>
          <li><a href="/wellness/#afterschool-programs">After School</a></li>
          <li><a href="/wellness/#special-education">Special Education</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/parents/">Parents &amp; Students</a></h2>
        <ul>
          <li><a href="/parents/#attendance">Attendance</a></li>
          <li><a href="/parents/#dress-code">Dress Code</a></li>
          <li><a href="/parents/#graduation-requirements">Graduation Requirements</a></li>
          <li><a href="/schedule/">Bell Schedule</a></li>
          <li><a href="/calendar/">Calendar</a></li>
          <li><a href="/calendar/#tutoring">Tutoring</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/staff">Our Staff</a></h2>
        <ul>
          <li><a href="/staff">Administration</a></li>
          <li><a href="/staff/#teachers">Teachers</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/about">About Our School</a></h2>
        <ul>
          <li><a href="/about/#message-from-our-prinicipal">Principal’s Message</a></li>
        </ul>
      </li>
    </ul>

    <form action="https://duckduckgo.com" method="get">
      <input type="hidden" name="sites" value="azusa.org">
      <p>
        <label>
          <span>Keywords</span>
          <input type="search" name="q" />
        </label>
        <button>Search</button>
      </p>
    </form>
  </nav>

  <footer>

    <div class="contact">
      <div>
        <h2>Sierra High School</h2>
        <p>1134 South Barranca Avenue<br />Glendora, CA 91740</p>
        <p>(626) 852-8300</p>
      </div>
      <p><strong>Paul Hernandez, Principal</strong><br /><a href="mailto:phernandez@azusa.org">phernandez@azusa.org</a></p>
      <p><strong>Carmen Oronia-Jara, School Secretary</strong><br /><a href="mailto:carmenj@azusausd.k12.ca.us">carmenj@azusausd.k12.ca.us</a></p>
    </div>

    <div class="legal">
      <h2><a href="http://azusa.org"><img src="/images/azusa-district.png" width="100" height="100" alt="Azusa Unified School District" /></a></h2>
      <p>The District prohibits, at any district school or school activity, unlawful discrimination, harassment, intimidation, and bullying of any student based on the student’s actual race, color, ancestry, national origin, ethnic group, identication, age, religion, marital or parental status, physical or mental disability, sex, sexual orientation, gender, gender identity, or gender expression; the perception of one or more of such characteristics; or association with a person or group with one or more these actual or perceived characteristics.</p>
    </div>

    <div class="nav">
      <ul>
        <li><a href="">User Agreement</a></li>
        <li><a href="">Privacy Notice</a></li>
        <li><a href="">Security &amp; Data Policy</a></li>
      </ul>
      <!--
      <ul>
        <li><a href="">Staff Login</a></li>
        <li><a href="">Site Map</a></li>
      </ul>
      -->
    </div>
  </footer>

</body>
</html>
